
body {
    font-family: Arial, sans-serif;
}

.part1__wrapper {
    max-width: 1200px;
    padding: 0 50px;
    margin: 0 auto;
}

.part1__task-title {
    font-size: 26px;
    text-align: center;
    text-transform: uppercase;
    padding: 0 0 10px;
}

.hidden {
    visibility: hidden;
}

.button {
    width: 200px;
    height: 50px;
    background-color: #008000;
    color: #ffffff;
}

.task {
    padding: 30px 0;
    border-top: 5px dashed #008000;
}

.black-square {
    width: 100px;
    height: 100px;
    background-color: #000000;
}

/* =============== Task 1 =============== */

.task1 {
    border-top: none;
}

#task1__square {
    margin: 0 auto;
}

.task1__buttons {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.task1__button {
    margin: 0 5px;
}

/* =============== Task 2 =============== */

.task2__button {
    display: block;
    margin: 10px auto 0;
}

#task2__square {
    margin: 0 auto;
}

/* =============== Task 3 =============== */

.tack3__squares {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 0 10px;
}

.task3__square {
    margin: 5px;
    flex: 0 0 auto;
}

.task3__button {
    display: block;
    margin: 0 auto;
}

/* =============== Task 4 =============== */

.part1__task4 {
    text-align: center;
}

.task4__button {
    display: block;
    margin: 10px auto;
}

/* =============== Task 5 =============== */

.task5__square {
    background-color: #ffff00;
    width: 100px;
    height: 100px;
    margin: 0 auto;
}

/* =============== Task 6 =============== */

.task6__square {
    background-color: #ff0000;
    height: 50px;
    width: 50px;
    opacity: 0;
    margin: 0 auto 10px;
}

.task6__button {
    display: block;
    margin: 0 auto;
}

/* =============== Task 7 =============== */

.task7__input-block {
    display: flex;
    justify-content: center;
}

.task7__rectangle {
    width: 50px;
    height: 20px;
    background-color: #008000;
    margin-left: 10px;
    display: none;
}

/* =============== Task 8 =============== */

.task8__input-block {
    margin-bottom: 10px;
}

#task8__field {
    display: block;
    margin: 0 auto 10px;
}

.task8__button {
    display: block;
    margin: 0 auto;
}

.task8__images {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.task8__images img {
    padding: 5px;
    display: block;
}

/* =============== Task 9 =============== */

.task9__input-block {
    margin-bottom: 10px;
}

#task9__field {
    display: block;
    margin: 0 auto 10px;
}

.task9__button {
    display: block;
    margin: 0 auto;
}

.task9__images {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.task9__images img {
    padding: 5px;
    display: block;
}

/* =============== Task 10,11,12 =============== */

.part1__nav {
    box-sizing: border-box;
    padding: 15px;
    width: 300px;
    height: 100px;
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: #008000;
    color: #ffffff;
}

.part1__nav > p {
    text-align: center;
}

/* =============== Task 13 =============== */

.task13__inputs {
    display: flex;
    justify-content: center;
}

.task13__input-item {
    flex: 0 0 30%;
    margin: 10px;
}

.task13__input-header {
    text-transform: uppercase;
    font-size: 16px;
    text-align: center;
    padding-bottom: 10px;
}

.tack13__input {
    box-sizing: border-box;
    padding: 5px;
    min-height: 80px;
    width: 100%;
    background-color: #008000;
    color: #ffffff;
    border: 2px solid #000000;
}

/* =============== Task 14 =============== */

#topButton {
    position: fixed;
    right: 5%;
    bottom: 10%;
    display: inline-block;
    padding: 10px 15px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    background-color: green;
    border-radius: 3px;
    cursor: pointer;
    visibility: hidden;
}

/* =============== Task 15 =============== */

.task15__outside{
    height: 100px;
    width: 50%;
    margin: 0 auto;
    background-color: #008000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.task15__inside {
    height: 70%;
    width: 70%;
    margin: 0 auto;
    background-color: #005000;
}

/* =============== Task 16 =============== */

#task16__button {
    display: block;
    width: 200px;
    height: 50px;
    margin: 0 auto;
    background-color: #008000;
    color: #ffffff;
}

#grey-cover {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: #555555;
    opacity: 0.6;
}

/* =============== Task 17 =============== */

#task17__button {
    display: block;
    margin: 0 auto;
}

/* =============== Task 18 =============== */

.task18__drop-field {
    width: 50%;
    height: 200px;
    margin: 0 auto;
    background-color: #008000;
    border: 3px dashed #004000;
    outline: #008000 solid 5px;
    text-align: center;
    color: #ffffff;
}

.task18__input-description {
    padding: 40px 0 20px;
}

.task18__input {
    display: none;
}

.task18__button {
    -webkit-appearance: none;
    width: 200px;
    height: 50px;
    background-color: #003000;
    color: #ffffff;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

.task18__button:active {
    background-color: #004000;
    border: 2px solid #002000;
}

.task18__input-status {
    padding: 10px 0;
    width: 70%;
    margin: 0 auto;
}

